# .flake8
[flake8]
# B: bugbear
# B9: bugbear's opinionated warnings
# BLK: black
# C: mccabe and comprehensions
# E,W: pycodestyle
# F: pyflakes
# I: isort
# S: bandit
select = B,B9,BLK,C,E,F,I,S,W
max-line-length = 88
# bandit to ignore test assert statements and typer function calls in argument defaults
per-file-ignores = tests/*:S101, src/{{ cookiecutter.project_slug }}/__main__.py:B008
